/**
 * Default
 */



/* background color */

.widget.widget_tag_cloud a,
.widget.widget_product_tag_cloud a:hover,
.widget.widget_product_tag_cloud a:focus,
.btn-primary,
.button-primary,
input[type="submit"].wpcf7-submit,
.tml-submit-wrap input[type="submit"],
input[type="submit"].button-primary,
.bright-vc-theme-btn-primary-container .bright-vc-theme-btn-primary,
button.btn-primary, 
input[type="button"].btn-primary, 
input[type="reset"].btn-primary, 
input[type="submit"].btn-primary,
button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"],
.list-inline a:hover,
.list-inline a:focus,
.course-learning-summary .learn-press-tabs .learn-press-nav-tabs .learn-press-nav-tab.active,
.course-landing-summary .learn-press-tabs .learn-press-nav-tabs .learn-press-nav-tab.active,
.bright-article.sticky figcaption:before,
.ep_theme_paignation .pager li>a:hover,
.ep_theme_paignation .pager li>a:focus,
.ep_theme_paignation .pager .active span,
.ep_theme_paignation .pager .active a,
.site-content .learn-press-pagination ul > li a:hover, 
.site-content .learn-press-pagination ul > li a:focus, 
.site-content .learn-press-pagination ul > li span,
.bright-course-grid .course-category, 
.bright-course-slider .course-category,
.bright-post-grid .bright-post-category, 
.bright-post-slider .bright-post-category,
.bright-course-slider.owl-theme .owl-dots .owl-dot span,
.bright-post-slider.owl-theme .owl-dots .owl-dot span,
.bright-testimonials.owl-theme .owl-dots .owl-dot span,
.bright-event-slider.owl-theme .owl-dots .owl-dot span,
.bright-course-slider.owl-theme .owl-nav > div,
.bright-post-slider.owl-theme .owl-nav > div,
.bright-event-slider.owl-theme .owl-nav > div,
.bright-instructor-content-type-slider.owl-theme .owl-nav > div,
.bright-social-icons ul li a,
.entry-tab-inner .bright-section-title:after,
.widget-area .widget-title:after,
.bright-section-title.bright-section-title-border:after,
.bright-course-ajax-search-result-area li a:hover,
.entry-content > .vc_row.bright_vc_row-background-primary, .entry-content > .container > .vc_row.bright_vc_row-background-primary,
.vc_tta-container .vc_tta-accordion.bright-vc-tta-accordion-theme-default .vc_tta-panel.vc_active .vc_tta-panel-heading,
.bright-nav-tabs > li > a::after,
.bright-tab-pane-reviews .course-rating .detailed-rating .stars > div.bar .full_bar > div,
.learn-press .course-meta > div .value.lp-progress-bar .lp-progress-value,
.bright_profile_login_page > a > span,
.bright_cart_icon > a > span,
.navbar.navbar-bright.bright-menu-hover-border .navbar-nav>li>a:after,
.slicknav_menu .slicknav_icon-bar,
.slicknav_menu .slicknav_btn.slicknav_open,
.bright-pre-header,
.site-content .lp-course-progress .lp-progress-bar .lp-progress-value,
body #course-curriculum-popup #popup-main #popup-header,
.bright-feature-title h3:before,
.bright-course-category-item,
.bright_vc_progress_bar.vc_progress_bar .vc_single_bar .vc_bar,
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button,
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce span.onsale,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt,
#tribe-bar-form .tribe-bar-submit input[type=submit],
.tribe-events-calendar thead th,
#tribe-events .tribe-events-button, #tribe-events .tribe-events-button:hover, #tribe_events_filters_wrapper input[type=submit], .tribe-events-button, .tribe-events-button.tribe-active:hover, .tribe-events-button.tribe-inactive, .tribe-events-button:hover, .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]>a,
#tribe-events-content .tribe-events-tooltip h4,
.tribe-events-list-separator-month:before,
.tribe-events-list .tribe-events-event-cost span,
.tribe-events-read-more,
.tribe-events-day .tribe-events-day-time-slot h5:before,
.bright-lms-statistics .bright-counter-number,
div.sharedaddy h3.sd-title:after,
.woocommerce div.product div.images .woocommerce-product-gallery__trigger,
.bright-404-additional-info .widget-title:after,
.xt-main-slider-area .carousel-indicators li,
.btn-common,
footer .site-info .bottom-social-icons a:hover,
.navbar-bright .dropdown-menu li>a:focus, 
.navbar-bright .dropdown-menu li>a:hover,
.bright-feature-item .icon i,
.btn-common,
.open-search,
.bright-user-wrapper > p > a,
.btn-primary:hover,
input[type="submit"].wpcf7-submit:hover,
.activity-item .secend-color i,
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span,
.single-album-gallery-desc-wrap .single-album-gallery-link .left-link,
.sup-desc-wrap .sup-link .left-link,
.sup-desc-wrap .sup-link .right-link,
.btn-common.active,
.back-to-top i,
.btn:focus,
.icon i,
.bright-event-title .bright-event-price,
.preloader2 span,
.bbp-pagination .bbp-pagination-links .current, 
.bbp-pagination .bbp-pagination-links a:hover, 
.bbp-pagination .bbp-pagination-links a:focus, 
.bbp-pagination .bbp-pagination-links a:active, 
#bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a,
.bright-counterup-has-plus .counter:before,
.bright-lms-statistics-item .counter:before {
    background: #FF4F57;
}



/* Text Color */
a:focus, a:hover,
.widget_text li i,
.navbar-bright .navbar-nav .current-menu-item.active>a, 
.navbar-bright .navbar-nav .current-menu-item.active>a:focus,
.header-transparent.navbar-bright .navbar-nav>li.current-menu-ancestor>a, 
body.page.bright-has-page-title .navbar-bright .navbar-nav>li.current-menu-ancestor>a, 
body.bright-global-page-header-transparent .navbar-bright .navbar-nav>li.current-menu-ancestor>a, 
.navbar-bright .navbar-nav>.current-menu-parent > a,
.navbar-bright .navbar-nav>.current-menu-parent > a:focus,
.navbar-bright .navbar-nav>.current-menu-parent > a:hover,
.widget a:hover,
.widget a:focus,
.bright-course-item .course-title:hover,
.bright-course-item .course-title:focus,
.bright-article .entry-title a:hover,
.bright-article .entry-title a:focus,
.bright-article .entry-meta a:hover,
.bright-article .entry-meta a:focus,
.logged-in-as a:hover,
.logged-in-as a:focus,
.bright-media-heading a:hover,
.bright-media-heading a:focus,
.bright-course-slider .bright-course-price, .bright-course-grid .bright-course-price, .bright-archive-course-item .bright-course-price,
.bright-post-meta a:hover,
.bright_vc_row-color-white .bright-post-slider .bright-post-meta a:hover,
.entry-footer .edit-link a:hover,
.entry-footer .edit-link a:focus,
.bright-course-search .bright-lms-stats > span i,
.bright-nav-tabs > li.active > a, 
.bright-nav-tabs > li > a:hover,
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover,
#learn-press-course-curriculum .section .course-item a:hover,
#learn-press-course-curriculum .section .course-item a:focus,
.slicknav_menu .slicknav_btn.slicknav_open,
.slicknav_menu .slicknav_btn.slicknav_open:focus,
.slicknav_menu .slicknav_btn.slicknav_open:active,
.slicknav_btn,
.wpb-fp-filter li.active,
.learn-press-user-profile .learn-press-tabs-wrapper-x .learn-press-subtabs > li.current a,
.bright-features.bright-features-icon-primary-color .bright-feature-icon i,
.woocommerce div.product form.cart .reset_variations,
.woocommerce .product_meta a,
.woocommerce .woocommerce-MyAccount-content a,
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover,
.btn-border:hover,
.footer-widgets ul li a:hover,
.teacher .teacher-item .teacher-desc a:hover h3,
.testimonial-item .quote-author .quote-footer span,
.news-grid-item .news-content .news-title a:hover,
.news-grid-item .news-content .meta .meta-part a i,
.news-grid-item .news-content .meta .meta-part a:hover,
.news-grid-item .news-content .meta .meta-part a:hover,
.thumb .courses-price .price,
.footer-widgets .courses-wrap .course-detail-wrap .course-content h3 a:hover,
.bright-counterup .icon-left i,
.full-search .close-search,
.entry-header .entry-meta i,
.bright-notice-item .entry-meta i,
.sup-desc-wrap .sup-link a:hover,
.single-album-gallery-desc-wrap .single-album-gallery-link a:hover,
.widget_recent_entries ul li:before,
.widget_archive ul li:before,
.widget_categories ul li:before,
.widget_meta ul li:before,
.news-grid-item .news-content .meta i,
.bright-course-info li i,
.vc_tta-container .vc_tta-accordion.bright-vc-tta-accordion-theme-default .vc_tta-panel.vc_active .vc_tta-panel-title>a,
.vc_tta-container .vc_tta-accordion.bright-vc-tta-accordion-theme-default.vc_tta.vc_general .vc_tta-panel .vc_tta-panel-heading:hover .vc_tta-panel-title>a,
.widget-area .courses-wrap .course-detail-wrap .course-content h3 a:hover,
.widget-area .courses-wrap .course-detail-wrap .course-content h3 a:focus,
.ep_course_category_list a i,
.bright-course-list .bright-course-meta > span i,
.bright-course-list_lg .bright-course-meta > span i,
.info-list li a i,
.bright-event-meta > span.bright-event-price,
.info-list li a:hover,
.full-search .close-search,
.bright-counterup .icon-left i, .bright-lms-statistics-item .icon-left i, .contact-datails i,
.courses-wrap .course-detail-wrap .course-content h3 a:hover, .courses-wrap .course-detail-wrap .course-content h3 a:focus,
.sup-desc-wrap .sup-meta-wrap .sup-title h4, .single-album-gallery-meta-wrap h4,
.bright-features-material .bright-feature-item .icon i,
.wpb-js-composer .vc_tta.vc_general.bright-vc-tta-tour-theme-default .vc_tta-tab.vc_active>a,
.wpb-js-composer .vc_tta.vc_general.bright-vc-tta-tour-theme-default .vc_tta-tab>a:focus, 
.wpb-js-composer .vc_tta.vc_general.bright-vc-tta-tour-theme-default .vc_tta-tab>a:hover,
.bright-fancy-list-wrapper li i,
.bright-features-image-link {
	color: #FF4F57;
}



/* Border Color */
.navbar-bright .dropdown-menu,
.widget_search .search-field:focus,
.bright-404-additional-info .search-form .search-field:focus,
.widget.widget_product_tag_cloud a,
.widget select:focus,
.bright-course-navigations select:focus,
.bright-course-navigations .usearchbtn:hover,
.bright-course-navigations .usearchbtn:focus,
.bright-list-grid-view .btn:hover,
.bright-list-grid-view .btn:focus,
.btn-primary,
.button-primary,
input[type="submit"].wpcf7-submit,
.tml-submit-wrap input[type="submit"],
input[type="submit"].button-primary,
button.btn-primary, 
input[type="button"].btn-primary, 
input[type="reset"].btn-primary, 
input[type="submit"].btn-primary,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus,
.form-control:focus,
select:focus,
.vc_tta-container .vc_tta-accordion.bright-vc-tta-accordion-theme-default .vc_tta-panel.vc_active .vc_tta-panel-heading,
.wpb-fp-filter li.active,
body #course-curriculum-popup #popup-main #popup-header,
.learn-press-user-profile .learn-press-tabs-wrapper-x .learn-press-subtabs > li.current,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
body.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.activity-item,
.full-search input[type="search"],
.full-search input[type="search"]:focus,
.tml-user-login-wrap input[type=text]:focus,
.tml-user-pass-wrap input[type=password]:focus,
.single-album-gallery-desc-wrap .single-album-gallery-link .left-link,
.sup-desc-wrap .sup-link .left-link,
.sup-desc-wrap .sup-link .right-link,
.single-album-gallery-desc-wrap .single-album-gallery-link a:hover .left-link,
.sup-desc-wrap .sup-link a:hover .left-link,
.sup-desc-wrap .sup-link a:hover .right-link,
.vc_tta-container .vc_tta-accordion.bright-vc-tta-accordion-theme-default .vc_tta-panel .vc_tta-panel-heading a:hover i::before,
.vc_tta-container .vc_tta-accordion.bright-vc-tta-accordion-theme-default .vc_tta-panel .vc_tta-panel-heading a:hover i::after,
.site-content .learn-press-tabs .learn-press-nav-tabs,
.full-search input[type="search"]:focus,
.btn:focus,
.bbp-pagination-links a:hover, 
.bbp-pagination-links span.current,
.mc4wp-form-fields input[type="text"]:focus,
.widget_search .search-field:focus,
.widget #bbp-search-form input[type="text"]:focus,
#bbpress-forums fieldset.bbp-form input:focus,
#bbpress-forums fieldset.bbp-form select:focus,
#bbpress-forums fieldset.bbp-form input:focus,
#bbpress-forums #bbp-search-form #bbp_search:focus,
body.wpb-js-composer .vc_tta.vc_tta-tabs.bright-vc-tta-tab-theme-default .vc_tta-tab.vc_active {
	border-color: #FF4F57;
}


/**
 * Dark
 */

/* Color */
.bright-features-image-link:hover,
.bright-features-image-link:focus, {
	color: #cc232b;
}

/* Background */

.widget.widget_tag_cloud a:hover,
.widget.widget_tag_cloud a:focus,
.btn-primary:hover, .btn-primary:focus, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover,
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary,
.button-primary:hover, input[type="submit"].button-primary:hover,
input[type="submit"].wpcf7-submit:hover, input[type="submit"].wpcf7-submit:focus,
.tml-submit-wrap input[type="submit"]:hover, .tml-submit-wrap input[type="submit"]:focus,
.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover,
.bright-course-slider.owl-theme .owl-nav > div:hover,
.bright-post-slider.owl-theme .owl-nav > div:hover,
.bright-event-slider.owl-theme .owl-nav > div:hover,
.bright-instructor-content-type-slider.owl-theme .owl-nav > div:hover,
.bright-social-icons ul li a:hover,
.bright_profile_login_page > a:hover > span,
.bright_profile_login_page > a:focus > span,
.bright_profile_login_page > a:active > span,
body #course-curriculum-popup #popup-main #popup-header .popup-close:hover, 
body #course-curriculum-popup #popup-main #popup-header .sidebar-hide-btn:hover, 
body #course-curriculum-popup #popup-main #popup-header .sidebar-show-btn:hover,
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover,
input[type="button"]:hover, 
input[type="reset"]:hover,
input[type="button"]:focus, 
input[type="reset"]:focus, 
input[type="submit"]:focus,
button.btn:hover, input[type="button"].btn:hover, input[type="reset"].btn:hover, input[type="submit"].btn:hover,
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover,
#tribe-bar-form .tribe-bar-submit input[type=submit]:hover, 
#tribe-bar-form .tribe-bar-submit input[type=submit]:focus,
.tribe-events-read-more:hover, .tribe-events-read-more:focus,
#tribe-events-content .tribe-events-calendar .mobile-active:hover, 
#tribe-events-content .tribe-events-calendar td.tribe-events-othermonth.mobile-active, 
#tribe-events-content .tribe-events-calendar td.tribe-events-othermonth.mobile-active div[id*=tribe-events-daynum-], 
#tribe-events-content .tribe-events-calendar td.tribe-events-othermonth.mobile-active div[id*=tribe-events-daynum-] a, 
.tribe-events-calendar .mobile-active div[id*=tribe-events-daynum-], .tribe-events-calendar .mobile-active div[id*=tribe-events-daynum-] a, 
.tribe-events-calendar td.mobile-active,
#tribe-events-content .tribe-events-calendar td.tribe-events-present.mobile-active:hover, 
.tribe-events-calendar td.tribe-events-present.mobile-active, 
.tribe-events-calendar td.tribe-events-present.mobile-active div[id*=tribe-events-daynum-], 
.tribe-events-calendar td.tribe-events-present.mobile-active div[id*=tribe-events-daynum-] a,
.btn-common:before,
.bright-user-wrapper > p > a:hover, .bright-user-wrapper > p > a:focus, .bright-user-wrapper > p > a:active,
.back-to-top:hover i,
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover,
.btn-common.active {
	background: #cc232b;
}

/* Border */
.bright-course-grid .course-category:before, 
.bright-course-slider .course-category:before,
.bright-post-grid .bright-post-category:before, 
.bright-post-slider .bright-post-category:before {
	border-right-color: #cc232b;
}
.btn-primary:hover, .btn-primary:hover, .btn-primary:focus, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover,
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary,
body #course-curriculum-popup #popup-main #popup-header .popup-menu,
.tribe-events-calendar thead th,
.tribe-events-list .tribe-events-event-cost span,
.widget.widget_tag_cloud a,
.btn:hover,
button:hover {
	border-color: #cc232b;
}
.full-search:before {
	border-bottom-color: #FF4F57;
}




/**
 * Light
 */

 


/**
 * Extra Light
 */

.learn-press-user-profile .learn-press-tabs.bright-user-prifile-menu > li.current a,
.learn-press-user-profile .learn-press-tabs.bright-user-prifile-menu > li > a:hover,
.learn-press-user-profile .learn-press-tabs-wrapper-x .learn-press-subtabs > li.current a,
.learn-press-user-profile .learn-press-tabs-wrapper-x .learn-press-subtabs > li a:hover,
.woocommerce-MyAccount-navigation ul li.is-active a,
.woocommerce-MyAccount-navigation ul li a:hover {
	background: rgba(255, 79, 87, 0.1);
}
.learn-press-user-profile .learn-press-tabs.bright-user-prifile-menu > li a,
.learn-press-user-profile .learn-press-tabs.bright-user-prifile-menu > li:last-child a,
.woocommerce-MyAccount-navigation ul li a {
	border-color: rgba(255, 79, 87, 0.1);
}

 
